.Test {
    position:fixed;
    top: 70px;
    right: 100px;
    border: 1px solid black;
    padding: 10px;
}

.favourite-countries {
    position:fixed;
    top: 180px;
    right: 100px;
    border: 1px solid black;
    padding: 10px;
}